.header{
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}

input{
  background-color: #ffffff ;
  color: #000000;
}

.movie-title{
  font-size: large;
  font-weight: bold;
}
