<div>
  <div class="header">
    <h4>Filters</h4>
    <label for="titleFilter">Title</label>
    <input type="text" id="titleFilter"/>
    <label for="yearFilter">Release year</label>
    <input type="number" id="yearFilter"/>
  </div>
  <ul class="film-list">
    @for(movie of allMovies; track $index){
      <li>
        <div class="row">
          <div class="col-lg-10">
            <div class="movie-title">{{ movie.title }}</div>
            <div class="row">
              <div class="col-sm-4">Release date: {{ movie.release_date }}</div>
              <div class="col-sm-4"> Budget: {{ movie.budget }}</div>
              <div class="col-sm-4"> Duration: {{ movie.duration }}</div>
            </div>
          </div>
          <div class="col-lg-2">
            <button [routerLink]="['/movies', movie.id]">Details</button>
          </div>
        </div>
      </li>
    }
  </ul>
</div>
